<div class="news-card">

  <a
    [routerLink]="currentNews().link"
    class="news-click-area"
    [attr.aria-label]="currentNews().text"
  ></a>

  <div class="card-image">

    <img
      [src]="currentNews().image"
      [alt]="currentNews().text"
    />

    <button
      type="button"
      class="carousel-arrow carousel-arrow-left"
      aria-label="上一張"
      (click)="previousSlide($event)"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>

    <button
      type="button"
      class="carousel-arrow carousel-arrow-right"
      aria-label="下一張"
      (click)="nextSlide($event)"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </button>

    <div class="news-overlay">

  <div class="news-overlay-text">

    <h3>
      {{ currentNews().text }}
    </h3>

    <p>
      {{ currentNews().highlight }}
    </p>

  </div>

  <span class="image-source">
    {{ currentNews().source }}
  </span>

</div>

    <div class="carousel-indicators">

      @for (i of [0, 1, 2]; track i) {

        <button
          type="button"
          class="dot"
          [class.active]="currentIndex() === i"
          [attr.aria-label]="'切換到第 ' + (i + 1) + ' 張'"
          (click)="setSlide(i)"
        >
        </button>

      }

    </div>

  </div>

</div>
