<div class="card-list">

  @if (type === 'material') {

    <app-disaster-open-card
      type="material">
    </app-disaster-open-card>

    <app-disaster-open-card
      type="material">
    </app-disaster-open-card>

    <app-disaster-open-card
      type="material">
    </app-disaster-open-card>

    <app-disaster-open-card
      type="material">
    </app-disaster-open-card>

  } @else {

    <app-disaster-open-card
      type="volunteer">
    </app-disaster-open-card>

    <app-disaster-open-card
      type="volunteer">
    </app-disaster-open-card>

    <app-disaster-open-card
      type="volunteer">
    </app-disaster-open-card>

    <app-disaster-open-card
      type="volunteer">
    </app-disaster-open-card>

  }

</div>
