<div class="disaster-open-page">

  <!-- =========================
       物資捐助
  ========================== -->
  <section class="needs-section">
    <div class="section-header">
      <h1>
        物資捐助
      </h1>
    </div>
    <app-disaster-open-card-list
      type="material">
    </app-disaster-open-card-list>
  </section>

  <!-- =========================
       志工需求
  ========================== -->
  <section class="needs-section volunteer-section">
    <div class="section-header">
      <h1>
        志工需求
      </h1>
    </div>
    <app-disaster-open-card-list
      type="volunteer">
    </app-disaster-open-card-list>
  </section>
</div>
