<section class="featured-section">
  <div class="featured-grid">
    @for (item of pagedDailyDonations; track item.id) {

      <app-donor-daily-card
        [id]="item.id"
        [title]="item.title"
        [category]="item.category"
        [target]="item.target"
        [quantity]="item.quantity"
        [organization]="item.organization"
        [address]="item.address"
        [image]="item.image"
        (view)="openDetail(item)"
      ></app-donor-daily-card>

    } @empty {

      <div class="data-empty">
        無捐助資料
      </div>

    }
  </div>
</section>

<app-pagination
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [pageNumbers]="pageNumbers"
  (pageChange)="goToPage($event)"
></app-pagination>
