<div class="detail-page">
  <!-- 返回需求清單 -->
  <button
    type="button"
    class="back-button"
    (click)="goBackToList()">
    ← 返回需求清單
  </button>
  <!-- 頁面標題 -->
  <div class="detail-header">
    <h1>
      急難救助需求詳情
    </h1>
  </div>
  <!-- =========================
       物資主要資訊
  ========================== -->
  <div class="detail-main">
    <!-- 左邊：物資圖片 -->
    <div class="detail-image">
      <img
        src="https://api.fnkr.net/testimg/200x200/DDDDDD/999999/?text=img"
        [alt]="demand.item">
    </div>
    <!-- 右邊：物資資訊 -->
    <div class="detail-info">


      <!-- 物資名稱 -->

      <h2>
        {{ demand.item }}
      </h2>


      <!-- 類別 -->

      @if (demand.category) {

        <div class="category">
          {{ demand.category }}
        </div>

      }


      <!-- 緊急程度 -->

      <div
        class="urgency"
        [ngClass]="getPriorityClass()">

        <span class="urgency-icon">
          ●
        </span>

        {{ demand.priority }}

      </div>


      <!-- 數量 -->

      <div class="quantity-info">


        <div class="info-item">

          <span>
            需求數量
          </span>

          <strong>

            {{ demand.amount ?? 0 }}
            {{ demand.unit }}

          </strong>

        </div>


        <div class="info-item">

          <span>
            已募集
          </span>

          <strong>

            {{
              (demand.amount ?? 0)
              -
              (demand.remaining ?? 0)
            }}

            {{ demand.unit }}

          </strong>

        </div>


        <div class="info-item">

          <span>
            剩餘需求
          </span>

          <strong>

            {{ demand.remaining ?? 0 }}
            {{ demand.unit }}

          </strong>

        </div>


      </div>


      <!-- 數量補充 -->

      @if (demand.amountDescription) {

        <div class="amount-description">

          {{ demand.amountDescription }}

        </div>

      }


      <!-- 受助機構 -->

      <div class="organization-box">

        <span class="organization-label">
          受助機構
        </span>

        <strong>
          <i class="fa-regular fa-building"></i> {{ demand.recipient }}
        </strong>


        <!-- 我要捐助 -->

        <div class="donate-action">

          <button
            type="button"
            class="donate-button"
            (click)="goToSupplyForm()">

            我要捐助

          </button>

        </div>

      </div>


    </div>

  </div>



  <!-- =========================
       相關社福機構
  ========================== -->

  <div class="organization-detail">

    <h2>
      相關社福機構
    </h2>


    <div class="organization-info">


      <div class="organization-item">

        <span>
          機構名稱
        </span>

        <strong>
          {{ demand.recipient }}
        </strong>

      </div>


      <div class="organization-item">

        <span>
          聯絡電話
        </span>

        <strong>
          {{ demand.phone }}
        </strong>

      </div>


      <div class="organization-item">

        <span>
          聯絡地址
        </span>

        <strong>
          {{ demand.address }}
        </strong>

      </div>


      <div class="organization-item">

        <span>
          接收方式
        </span>

        <strong>
          {{ demand.receiveMethod }}
        </strong>

      </div>


      <!-- 接受物資狀態 -->

      <div class="organization-item">

        <span>
          接受物資狀態
        </span>


        <div class="condition-list">


          <div>

            全新：

            <strong
              [class.accept]="
                demand.conditions['全新'] === '接受'
              "
              [class.reject]="
                demand.conditions['全新'] === '不接受'
              ">

              {{ getConditionText(
                demand.conditions['全新']
              ) }}

            </strong>

          </div>


          <div>

            二手：

            <strong
              [class.accept]="
                demand.conditions['二手'] === '接受'
              "
              [class.reject]="
                demand.conditions['二手'] === '不接受'
              ">

              {{ getConditionText(
                demand.conditions['二手']
              ) }}

            </strong>

          </div>


          <div>

            有擦痕：

            <strong
              [class.accept]="
                demand.conditions['有擦痕'] === '接受'
              "
              [class.reject]="
                demand.conditions['有擦痕'] === '不接受'
              ">

              {{ getConditionText(
                demand.conditions['有擦痕']
              ) }}

            </strong>

          </div>


          <div>

            過期：

            <strong
              [class.accept]="
                demand.conditions['過期'] === '接受'
              "
              [class.reject]="
                demand.conditions['過期'] === '不接受'
              ">

              {{ getConditionText(
                demand.conditions['過期']
              ) }}

            </strong>

          </div>


          <div>

            毀損：

            <strong
              [class.accept]="
                demand.conditions['毀損'] === '接受'
              "
              [class.reject]="
                demand.conditions['毀損'] === '不接受'
              ">

              {{ getConditionText(
                demand.conditions['毀損']
              ) }}

            </strong>

          </div>


        </div>


        <!-- 自訂狀態 -->

        @if (
          demand.customConditions.length > 0
        ) {

          <div class="custom-condition">

            <span>
              其他：
            </span>

            @for (
              condition of demand.customConditions;
              track condition
            ) {

              <span>
                {{ condition }}
              </span>

            }

          </div>

        }

      </div>


      <!-- 備註 -->

      @if (demand.note) {

        <div class="organization-item">

          <span>
            備註
          </span>

          <p>
            {{ demand.note }}
          </p>

        </div>

      }


    </div>

  </div>



  <!-- =========================
       服務對象
  ========================== -->

  <div class="service-target-detail">

    <h2>
      服務對象
    </h2>


    <div class="service-target-list">


      @if (demand.serviceTargets['老人']) {
        <span>老人</span>
      }

      @if (demand.serviceTargets['嬰幼兒']) {
        <span>嬰幼兒</span>
      }

      @if (demand.serviceTargets['孩童']) {
        <span>孩童</span>
      }

      @if (demand.serviceTargets['青少年']) {
        <span>青少年</span>
      }

      @if (demand.serviceTargets['身障']) {
        <span>身障</span>
      }

      @if (demand.serviceTargets['貧困']) {
        <span>貧困</span>
      }

      @if (demand.serviceTargets['重症照護']) {
        <span>重症照護</span>
      }

      @if (demand.serviceTargets['寵物']) {
        <span>寵物</span>
      }

      @if (demand.serviceTargets['流浪']) {
        <span>流浪</span>
      }

      @if (demand.serviceTargets['野生']) {
        <span>野生</span>
      }


      @for (
        target of demand.customServiceTargets;
        track target
      ) {

        <span>
          {{ target }}
        </span>

      }


    </div>

  </div>



  <!-- =========================
       需求原因
  ========================== -->

  <div class="description">

    <h2>
      需求原因
    </h2>

    <p>
      {{ demand.reason }}
    </p>

  </div>



  <!-- =========================
       需求說明
  ========================== -->

  <div class="description">

    <h2>
      需求說明
    </h2>

    <p>
      {{ demand.description }}
    </p>

  </div>



  <!-- =========================
       留言區
  ========================== -->

  <div class="comment-section">

    <h2>
      留言區
    </h2>


    <div class="comment-form">

      <textarea
        [(ngModel)]="newComment"
        rows="4"
        placeholder="輸入你想說的話...">
      </textarea>


      <button
        type="button"
        class="comment-button"
        (click)="addComment()">

        發布留言

      </button>

    </div>


    <div class="comment-list">

      @for (
        comment of comments;
        track $index
      ) {

        <div class="comment">

          <div class="comment-header">

            <strong>
              {{ comment.user }}
            </strong>

            <span>
              {{ comment.date }}
            </span>

          </div>

          <p>
            {{ comment.content }}
          </p>

        </div>

      }

    </div>

  </div>

</div>
