<div class="public-guide">




  <!-- ==========================================
       基本使用流程
  ========================================== -->

  <div class="process-card">

    <h3>
      平台基本流程
    </h3>

    <div class="process-list">

      <div class="process-item">
        <span>01</span>
        <p>瀏覽需求</p>
      </div>

      <div class="process-arrow">
        <i class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="process-item">
        <span>02</span>
        <p>查看需求資訊</p>
      </div>

      <div class="process-arrow">
        <i class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="process-item">
        <span>03</span>
        <p>選擇操作方式</p>
      </div>

      <div class="process-arrow">
        <i class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="process-item">
        <span>04</span>
        <p>完成相關流程</p>
      </div>

      <div class="process-arrow">
        <i class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="process-item">
        <span>05</span>
        <p>查看處理狀態</p>
      </div>

    </div>

  </div>

</div>
