<div class="featured-card">

  <div class="featured-image">
    @if (image) {
      <img
        [src]="image"
        [alt]="title"
      >
    }
  </div>

  <div class="featured-content">

    <h3>{{ title }}</h3>

    <div class="tags">
      <span class="tag">{{ category }}</span>
      <span class="tag">{{ target }}</span>
    </div>

    <div class="info">
      <p>需求數量: {{ quantity }}</p>
      <p>{{ organization }}</p>
      <p>{{ address }}</p>
    </div>

    <button class="detail-btn" type="button" (click)="onView()">
  查看詳情
</button>

  </div>

</div>
