<div class="container">
  <h1>批次編輯緊急需求內容</h1>

  <div class="form-box" [ngClass]="i % 2 === 0 ? 'light-box' : 'dark-box'" *ngFor="let demand of editDemands; let i=index">
    <h2>第 {{i + 1}} 筆需求</h2>

    <!-- 需求物 -->

    <label>
      需求物
      <span class="required">*</span>
      <span class="word-count" *ngIf="demand.item"> {{ demand.item.length }}/500 </span>
    </label>

    <input
      class="short-input"
      maxlength="500"
      [class.invalid]="demand.itemError"
      type="text"
      placeholder="請編輯需求物"
      [(ngModel)]="demand.item"
    />

    <!-- 需求數量 -->

    <label>
      需求數量
      <span class="required">*</span>
      <span class="word-count" *ngIf="demand.amount"> {{ demand.amount.toString().length }}/10 </span>
    </label>

    <div class="amount-box">
      <input
        class="short-input"
        maxlength="10"
        [class.invalid]="demand.amountError"
        type="number"
        min="0"
        placeholder="請編輯數量"
        [(ngModel)]="demand.amount"
      />

      <input class="unit-input" maxlength="20" type="text" placeholder="請編輯單位，例如：箱、袋、包" [(ngModel)]="demand.unit" />
    </div>
    <!-- 數量描述 -->

    <label>
      數量描述

      <span class="word-count" *ngIf="demand.amountDescription"> {{ demand.amountDescription.length }}/200 </span>
    </label>

    <textarea maxlength="200" placeholder="請編輯數量描述，例如：1箱內含10包，每包5公斤" [(ngModel)]="demand.amountDescription"></textarea>

    <!-- 需求原因 -->

    <label>
      需求原因
      <span class="required">*</span>
      <span class="word-count" *ngIf="demand.reason"> {{ demand.reason.length }}/500 </span>
    </label>

    <textarea maxlength="500" [class.invalid]="demand.reasonError" placeholder="請編輯需求原因" [(ngModel)]="demand.reason"></textarea>

    <!-- 需求描述 -->

    <label>
      需求描述
      <span class="required">*</span>
      <span class="word-count" *ngIf="demand.description"> {{ demand.description.length }}/1000 </span>
    </label>

    <textarea
      maxlength="1000"
      [class.invalid]="demand.descriptionError"
      placeholder="請編輯需求描述，例如可接受誤差程度、特定型號、款式等"
      [(ngModel)]="demand.description"
    ></textarea>

    <!-- 物資狀態區 -->

    <div class="condition-area">
      <!-- 左側 接受物資狀態 -->
      <div class="condition-section">
        <label class="label-row"> 接受物資狀態 </label>

        <div class="condition-box">
          <!-- 全新 -->
          <div class="condition-row">
            <span class="condition-name"> 全新 </span>

            <label>
              <input type="radio" [name]="'newCondition'+i" value="接受" [(ngModel)]="demand.conditions['全新']" />

              <span> <span class="accept-icon">✔</span> 接受 </span>
            </label>

            <label>
              <input type="radio" [name]="'newCondition'+i" value="不接受" [(ngModel)]="demand.conditions['全新']" />

              <span> <span class="reject-icon">✘</span> 不接受 </span>
            </label>
          </div>

          <!-- 二手 -->
          <div class="condition-row">
            <span class="condition-name"> 二手 </span>

            <label>
              <input type="radio" [name]="'usedCondition'+i" value="接受" [(ngModel)]="demand.conditions['二手']" />

              <span> <span class="accept-icon">✔</span> 接受 </span>
            </label>

            <label>
              <input type="radio" [name]="'usedCondition'+i" value="不接受" [(ngModel)]="demand.conditions['二手']" />

              <span> <span class="reject-icon">✘</span> 不接受 </span>
            </label>
          </div>

          <!-- 有擦痕 -->
          <div class="condition-row">
            <span class="condition-name"> 有擦痕 </span>

            <label>
              <input type="radio" [name]="'scratchCondition'+i" value="接受" [(ngModel)]="demand.conditions['有擦痕']" />

              <span> <span class="accept-icon">✔</span> 接受 </span>
            </label>

            <label>
              <input type="radio" [name]="'scratchCondition'+i" value="不接受" [(ngModel)]="demand.conditions['有擦痕']" />

              <span> <span class="reject-icon">✘</span> 不接受 </span>
            </label>
          </div>

          <!-- 過期 -->
          <div class="condition-row">
            <span class="condition-name"> 過期 </span>

            <label>
              <input type="radio" [name]="'expiredCondition'+i" value="接受" [(ngModel)]="demand.conditions['過期']" />

              <span> <span class="accept-icon">✔</span> 接受 </span>
            </label>

            <label>
              <input type="radio" [name]="'expiredCondition'+i" value="不接受" [(ngModel)]="demand.conditions['過期']" />

              <span> <span class="reject-icon">✘</span> 不接受 </span>
            </label>
          </div>

          <!-- 毀損 -->
          <div class="condition-row">
            <span class="condition-name"> 毀損 </span>

            <label>
              <input type="radio" [name]="'brokenCondition'+i" value="接受" [(ngModel)]="demand.conditions['毀損']" />

              <span> <span class="accept-icon">✔</span> 接受 </span>
            </label>

            <label>
              <input type="radio" [name]="'brokenCondition'+i" value="不接受" [(ngModel)]="demand.conditions['毀損']" />

              <span> <span class="reject-icon">✘</span> 不接受 </span>
            </label>
          </div>
        </div>
      </div>
      <!-- 右側 自訂狀態 -->

      <div class="custom-condition-section">
        <label class="label-row"> 其他物品狀態</label>
        <div class="custom-condition-list">
          <div class="custom-condition-row" *ngFor="let condition of demand.customConditions; let j=index">
            <input
              class="custom-condition-input"
              maxlength="100"
              type="text"
              placeholder="請編輯其他狀態(可自行輸入)"
              [(ngModel)]="demand.customConditions[j]"
            />

            <span class="word-count" *ngIf="condition"> {{ condition.length }}/100 </span>

            <!-- 新增按鈕 -->
            <button
              type="button"
              class="add-condition-btn"
              *ngIf="condition && demand.customConditions.length < 5"
              (click)="addCustomCondition(demand)"
            >
              ＋
            </button>

            <!-- 刪除按鈕 -->
            <button
              type="button"
              class="delete-condition-btn"
              *ngIf="demand.customConditions.length > 1"
              (click)="removeCustomCondition(demand, j)"
            >
              －
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 緊急優先度 -->

    <label>
      緊急優先度
      <span class="required">*</span>
    </label>

    <div class="priority-box">
      <label class="normal">
        <input type="radio" [name]="'priority'+i" value="普通" [(ngModel)]="demand.priority" />

        普通
      </label>

      <label class="urgent">
        <input type="radio" [name]="'priority'+i" value="緊急" [(ngModel)]="demand.priority" />

        緊急
      </label>

      <label class="very-urgent">
        <input type="radio" [name]="'priority'+i" value="非常緊急" [(ngModel)]="demand.priority" />

        非常緊急
      </label>
    </div>

    <!-- 公開狀態 -->

    <label>
      公開狀態
      <span class="required">*</span>
    </label>

    <div class="status-box">
      <label>
        <input type="radio" [name]="'status'+i" value="上架" [(ngModel)]="demand.status" />

        上架
      </label>

      <label>
        <input type="radio" [name]="'status'+i" value="隱藏" [(ngModel)]="demand.status" />

        隱藏
      </label>

      <label>
        <input type="radio" [name]="'status'+i" value="下架" [(ngModel)]="demand.status" />

        下架
      </label>
    </div>

    <!-- 接收物資地點 -->

    <label>
      面交地點
      <span class="required">*</span>
      <span class="word-count" *ngIf="demand.address"> {{ demand.address.length }}/35 </span>
    </label>

    <input
      class="medium-input"
      maxlength="35"
      [class.invalid]="demand.addressError"
      type="text"
      placeholder="請編輯能夠接收物資的地點"
      [(ngModel)]="demand.address"
    />
    <!-- 聯絡電話 -->

    <label>
      聯絡電話
      <span class="required">*</span>
      <span class="word-count" *ngIf="demand.phone"> {{ demand.phone.length }}/30 </span>
    </label>

    <input
      class="phone-input"
      maxlength="10"
      [class.invalid]="demand.phoneError"
      type="tel"
      placeholder="請編輯可保持暢通的號碼（方便聯絡時間可註明）"
      [(ngModel)]="demand.phone"
    />

    <!-- 其他說明 -->

    <label>
      其他說明（備註）
      <span class="word-count" *ngIf="demand.note"> {{ demand.note.length }}/300 </span>
    </label>

    <textarea maxlength="300" placeholder="請編輯其他說明" [(ngModel)]="demand.note"></textarea>
    <hr />
  </div>

  <!-- 按鈕 -->

  <div class="button-area">
    <button class="back-btn" (click)="cancel()">取消</button>

    <button class="save-btn" (click)="saveAll()">儲存全部修改</button>
  </div>
</div>
