.carousel {
  position: relative;
  width: 100%;
}

/* 灰色圖片區 */
.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 320px;

}

.carousel-main {
   width: 100%;
  height: 320px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  border-radius: 10px;
}

/* 圖片 */
.main-image {
 width: 100%;
  height: 100%;

  display: block;
  object-fit: cover;
}

/* 箭頭 */
.carousel-arrow {
 position: absolute;
  top: 50%;
  z-index: 2;
  width: 40px;
  height: 60px;
  padding: 0;
  border: none;
  background: transparent;
  color: #005BAC;
  font-size: 32px;
  font-weight: 1000;
  line-height: 1;
  cursor: pointer;
  transform: translateY(-50%);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  opacity: 0.75;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  -webkit-text-stroke: 3px #ffffff;
  text-stroke: 3px #ffffff;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.carousel-arrow:hover {
  opacity: 1; ;
}

.carousel-arrow.hidden {
  visibility: hidden;
}

/* 圓點固定在灰色框下面 */
.carousel-dots {

  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.carousel-dots.hidden {
  display: none;
}

/* 圓點 */
.dot {
  width: 10px;
  height: 10px;

  flex-shrink: 0;

  background: #cccccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #005bac;
}
