<aside class="right-sidebar">

  <div class="sidebar-row">

    <span class="row-title">
      我要捐物
    </span>

    <div class="sidebar-buttons">

      <a
        routerLink="/donor/daily"
        class="sidebar-button"
      >
        日常捐助
      </a>

      <a
        href="#"
        class="sidebar-button"
        (click)="goToDisaster($event)"
      >
        災害救助
      </a>

    </div>

  </div>


  <div class="sidebar-row">

    <span class="row-title">
      認識我們
    </span>

    <div class="sidebar-buttons">

      <a
        routerLink="/intro"
        class="sidebar-button"
      >
        平台介紹
      </a>

      <a
        routerLink="/contact-us"
        class="sidebar-button"
      >
        聯絡我們
      </a>

    </div>

  </div>


  <div class="sidebar-row">

    <span class="row-title">
      更多問題
    </span>

    <div class="sidebar-buttons">

      <a
        routerLink="/customer-service/faq"
        class="sidebar-button"
      >
        常見問題
      </a>

      <a
        routerLink="/customer-service/ai-chat"
        class="sidebar-button"
      >
        AI客服
      </a>

    </div>

  </div>

</aside>
