.lobby-grid {
  display: grid;

  grid-template-columns:
    minmax(0, 3fr)
    minmax(250px, 0.78fr);

  max-width: 1400px;

  margin: 40px auto;

  padding: 0 20px;

  gap: 24px;
}

@media (max-width: 900px) {
  .lobby-grid {
    grid-template-columns: 1fr;
  }
}
