<section class="featured-section">
  @if (isLoading) {
    <div class="loading-container">
      <div
        class="loading-spinner"
        aria-label="資料載入中"
      ></div>

      <p>資料載入中，請稍候...</p>
    </div>
  } @else {
    <div class="featured-grid">
      @for (
        item of pagedDailyDemands;
        track item.serialNo
      ) {
        <app-donor-daily-card
          [demand]="item"
          (view)="openDetail(item)">
        </app-donor-daily-card>
      } @empty {
        <div class="data-empty">
          無捐助資料
        </div>
      }
    </div>
  }
</section>

<app-pagination
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [pageNumbers]="pageNumbers"
  (pageChange)="goToPage($event)">
</app-pagination>
